/*@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Phudu&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    /*font-family: 'Mooli', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: green;
    text-decoration: underline;
}
.right{
    text-align: right;
}
.tx-center{
    text-align: center;
}